<div id="{{ column.id }}" class="draggableCards">
  <app-column-header [column]="column"></app-column-header>

  <div class="list-group list-group-flush">
    <app-column-tasks
      [column]="column"
      [columnId]="column.id"
      [allColumnIds]="allColumnIds"
    ></app-column-tasks>
  </div>

  <div class="card-body">
    <div class="card-footer bg-warning">
      <button
        class="btn btn-block border-0 addNewCol"
        data-bs-toggle="modal"
        [attr.data-bs-target]="'#taskModal' + column.id"
      >
        {{ "ADD_NEW_TASK" | translate }}
      </button>
    </div>
  </div>
</div>
