<div class="container about">
  <div class="d-flex flex-wrap justify-content-between">
    <div class="col-sm-12 col-md-6 col-lg-3">
      <h2 class="bg-warning">{{ "ANA_HEADER" | translate }}</h2>
      <h3>{{ "ANA_BODY" | translate }}</h3>
      <hr />
      <p class="fw-lighter">{{ "ANA_FOOTER" | translate }}</p>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-5">
      <img class="img-responsive" src="../../assets/images/girl.svg" />
    </div>

    <div class="col-sm-12 col-md-6 col-lg-3 text-end">
      <h2 class="bg-warning">{{ "RS_HEADER" | translate }}</h2>
      <h3>{{ "RS_BODY" | translate }}</h3>
      <hr />
      <p class="fw-lighter">{{ "RS_FOOTER" | translate }}</p>
    </div>
  </div>
</div>
