<form #updateTaskForm="ngForm" (ngSubmit)="onSubmit()">
  <div
    class="modal fade"
    id="updateTaskModal{{ task.id }}"
    tabindex="-1"
    aria-labelledby="updateTaskModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-body">
          <div class="modal-item">
            <label for="title" class="form-label">{{
              "TASK_TITLE" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              name="title"
              [(ngModel)]="task.title"
              required
            />
          </div>

          <div class="modal-item mt-3">
            <label for="description" class="form-label">{{
              "TASK_DESCRIPTION" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              name="description"
              [(ngModel)]="task.description"
              required
            />
          </div>
          <div class="modal-item mt-3">
            <button class="btn btn-warning btnForCheck" (click)="taskIsDone()">
              <i *ngIf="task.done" class="bi bi-check text-dark iconForCheck">
              </i>
            </button>
            <span class="DoneText">{{ "DONE" | translate }}</span>
          </div>
          <div class="modal-item">
            <label
              for="description"
              class="form-label text-capitalize text-dark fs-6 fw-normal mt-3"
              >{{ "FILE_UPLOAD" | translate }}</label
            >
          </div>
          <div class="modal-item">
            <input
              type="file"
              class="file-input mt-3"
              (change)="onChange($event)"
              #fileUpload
            />
          </div>
          <div>
            <div class="file-upload">
              <a
                mat-mini-fab
                color="primary"
                class="btn btn-link border-0"
                (click)="fileUpload.click()"
              >
              </a>
              <div *ngIf="uploadedFile">
                <a
                  class="text-muted"
                  href="javascript: void(0)"
                  (click)="handleDownload()"
                  >{{ uploadedFile.name }}</a
                >
              </div>
              <div *ngIf="!uploadedFile">
                <span
                  class="fileName_title text-capitalize text-dark fw-normal"
                >
                  "No file uploaded yet."
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
            {{ "CANCEL" | translate }}
          </button>
          <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">
            {{ "UPDATE" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
