<div class="row mx-0 px-1">
  <div *ngIf="titleIsEditable === false">
    <div
      class="d-flex align-items-center bg-dark text-white justify-content-between text-uppercase fw-bolder px-3 py-3 mx-0"
    >
      <div class="col-8">
        <h4 class="p-0 m-0">{{ column.title }}</h4>
      </div>
      <div class="col-4 col-4 d-flex justify-content-between">
        <button
          class="btn btn-link p-0 m-0 text-white colIcons"
          (click)="editColumnTitle()"
        >
          <i class="bi bi-pencil"></i>
        </button>

        <button
          type="button"
          class="btn btn-link p-0 m-0 text-white colIcons"
          data-bs-toggle="modal"
          [attr.data-bs-target]="'#staticBackdrop' + column.id"
        >
          <i class="bi bi-trash"></i>
        </button>
      </div>
      <div>
        <app-delete
          [message]="['DELETE_COLUMN_CONFIRMATION' | translate]"
          [callback]="deleteColumn"
          [param]="{ id: column.id }"
          [id]="column.id"
        ></app-delete>

        <app-create-task-modal [columnId]="column.id"></app-create-task-modal>
      </div>
    </div>
  </div>

  <div
    *ngIf="titleIsEditable"
    class="d-flex align-items-center justify-content-center"
    style="width: 100%"
  >
    <input
      type="text"
      class="form-control no-border"
      [value]="column.title"
      (change)="updateTitleHandler($event)"
    />
    <button class="btn" (click)="updateTitle()">
      <i class="bi bi-check-circle"></i>
    </button>
    <button class="btn" (click)="cancelUpdate()">
      <i class="bi bi-x-circle"></i>
    </button>
  </div>
</div>
