<div
  class="modal fade"
  id="staticBackdrop{{ id }}"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title fw-bold text-dark fs-4" id="staticBackdropLabel">
          {{'ARE_YOU_SURE' | translate}}
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body text-dark fs-6 fw-normal mb-0">{{message}}</div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-warning"
          data-bs-dismiss="modal"
        >
        {{'CLOSE' | translate}}
        </button>
        <button type="button"
         class="btn btn-danger" 
         data-bs-dismiss="modal"
         (click)="handleConfirm()">{{'DELETE' | translate}}</button>
      </div>
    </div>
  </div>
</div>
