<form #newBoardForm="ngForm" class="needs-validation" (ngSubmit)="onSubmit(newBoardForm.value)">
  <div
    class="modal fade"
    id="upsert{{ id }}"
    tabindex="-1"
    aria-labelledby="upsertLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title fw-bold text-dark fs-4 mb-0" id="upsertLabel">
            {{'ADD_NEW_BOARD' | translate}}
          </h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="modal"
            aria-label="Close"
          ></button>
        </div>

        <div class="modal-body">
          <label for="title" class="form-label">{{'BOARD_TITLE' | translate}}</label>
          <input
            type="text"
            class="form-control"
            id="validationCustom01"
            name="title"
            #title="ngModel"
            [(ngModel)]="board.title"
            required
          />
          <div class="valid-feedback">{{"LOOKS_GOOD" | translate}}</div>
          <div class="invalid-feedback" *ngIf="title.invalid && (title.dirty || title.touched)"
          class="alert mb-0 pb-0">
          <div class="text-danger text-capitalize" *ngIf="title.errors?.['required']">
          {{'TITLE_REQUIRED' | translate}}
          </div>
         </div>
          <label  for="description" class="form-label mt-3"
            >{{'BOARD_DESCRIPTION' | translate}}</label
          >
          <input
            type="text"
            class="form-control"
            id="validationCustom01"
            name="description"
            #description="ngModel"
            [(ngModel)]="board.description"
            required
          />
          <div class="valid-feedback">{{"LOOKS_GOOD" | translate}}</div>
          <div class="invalid-feedback" *ngIf="description.invalid && (description.dirty || description.touched)"
          class="alert mb-0 pb-0">
          <div class="text-danger text-capitalize" *ngIf="description.errors?.['required']">
          {{'DESCRIPTION_REQUIRED' | translate}}
          </div>
        </div>
        </div>
        <div class="modal-footer">
          <button
            
            type="button"
            class="btn btn-secondary"
            data-bs-dismiss="modal"
          >
          {{'CLOSE' | translate}}
          </button>
          <button
          [disabled]="!newBoardForm.valid"
            type="submit"
            class="btn btn-warning"
            data-bs-dismiss="modal"
          >
          {{'CREATE' | translate}}
          </button>
        </div>
      </div>
    </div>
  </div>
</form>
