@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~angular-notifier/styles";
.page-container{
    position: relative;
    min-height: 100vh;
}
.content-wrap{
    padding-bottom: 2.5rem;
}
.footer {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
    height: 2.5rem;
}
.boards:hover{

}

.illustration{
    display: block;
background: url(./assets/images/illustration.svg) no-repeat;
background-size: cover;
}
.spacer{
    padding-bottom: 25rem;
}




html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
