@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "~angular-notifier/styles";
body{
    background-color: #2e95ef;
}
footer {
    position: absolute;
    bottom: 0;
    left:0;
    right:0;
}





