<footer class="container mt-auto">
  <hr class="my-0" />
  <div class="row align-items-center">
    <div class="col text-start">
      <img
        class="img-responsive"
        src="../../assets/images/rs-logo.svg"
        width="100"
        height="100"
        alt="rs-logo"
      />
    </div>
    <div class="col text-center">
      <p>{{'COPYRIGHT' | translate}}</p>
    </div>
    <div class="col text-end">
      <img
        class="img-responsive"
        src="../../assets/images/git-logo.svg"
        width="40"
        height="40"
        alt="git-logo"
      />
    </div>
  </div>
</footer>
